* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --text-black-light: grey;
    --text-white: white;
    --background-white: white;
    --border-black: black;
    --main-text-green: rgb(1, 203, 45);
}

.main-text-green {
    color: var(--main-text-green);
}